---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-derived-method-shadowing-base-method,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-branch-clone,
  -bugprone-signed-char-misuse,
  -bugprone-sizeof-expression,
  -bugprone-lambda-function-name,
  -bugprone-throwing-static-initialization,
  -bugprone-random-generator-seed,
  -bugprone-nondeterministic-pointer-iteration-order,
  -bugprone-unchecked-optional-access,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-return-const-ref-from-parameter,
  -bugprone-unchecked-string-to-number-conversion,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*/libs/EXTERNAL/.*'
FormatStyle: file
