#
#Executables
#
ODIN_II/odin_II.exe
abc_with_bb_support/abc
ace2/ace
libarchfpga/read_arch
liblog/test_log
libsdc_parse/sdc_parse_test
vpr/vpr

#
#VTR Tasks
#
vtr_flow/tasks/**/run[0-9]*
vtr_flow/tasks/**/qor_geomean.txt
vtr_flow/tasks/**/task_summary/
quick_test/*

#
# Log Files
#
vpr_stdout.log

#
# VPR Result files
#
*.net
*.place
*.route
*.out

#
#Generated intermediate results
#
ODIN_II/SRC/verilog_bison.c
ODIN_II/SRC/verilog_bison.h
ODIN_II/SRC/verilog_bison.output
ODIN_II/SRC/verilog_flex.c

#
#C/C++
#
*.d
*.o
*.a

#
#Vim
#
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#
# LibreOffice
#
\.~lock*\#

#
#Ctags
#
.tags*
tags
