# Auto convert CRLF line-endings in Windows source files to LF
*.c         text
*.h         text
*.cpp       text
*.tpp       text
*.inl       text
*.hpp       text
*.make      text
*.pl        text
*.py        text

*.v         text
*.xml       text

*.txt       text
*.md        text
*.rst       text

#Don't convert line endings for code from external subtrees
abc/**                  -text
abc_with_bb_support/**  -text
libs/EXTERNAL/**        -text
