[submodule "libs/EXTERNAL/libcatch2"]
	path = libs/EXTERNAL/libcatch2
	url = https://github.com/catchorg/Catch2.git

# fork where in branch v1.0.0_no_complication_warnings there are compilation warnings fixes for upstream tag v1.0.0 of sockpp
[submodule "libs/EXTERNAL/sockpp"]
	path = libs/EXTERNAL/sockpp
	url = https://github.com/w0lek/sockpp.git
