prettytable
lxml
psutil

# Python linter and formatter
click==8.0.2 # Our version of black needs an older version of click (https://stackoverflow.com/questions/71673404/importerror-cannot-import-name-unicodefun-from-click)
black==21.4b0
pylint==2.7.4

# Surelog
orderedmultidict