body {
	margin:0;
	font-family:verdana;
}
html {
	overflow-y:scroll;
}
select {
	color:white;
    margin-top: 10%;
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 0px solid #ccc;
    height: 10%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus {
    outline: 0;
}
#selection_bar {
	display:flex;
	overflow:hidden;
	background-color:#3B3738;
	flex-wrap:wrap;
}
.box_wrapper {
	height:350px;
	overflow:hidden;
	margin-right:-18px;
	position:relative;
	flex:0 0 20%;
}

.selection_box {
	height:100%;
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	padding-right: 20px;
}

.task {
	display:block;
	text-decoration: none;
	text-align:center;
	line-height:1.5em;
	cursor:pointer;
	font-family:verdana;
}
.sel_task {
	font-weight:bold;
	color:white;
	background-color:#5A4A3A;
}


.param {
	padding-left:10px;
	display:block;
	line-height:1.5em;
	cursor:pointer;
}
.sel_param {
	font-weight:bold;
	background-color:#3B3738;
}


.filter {
	background-color:#3B3738;
}
.filter_val {
	padding-right:8px;
}
.filter_val input[type="text"] {
  padding: 10px;
  background-color:transparent;
  border-width:0px;
  color:white;
}


.in {
	height:179px;
}
.close {
	font-weight:bold;
	color:white;
	top:10px;
	right:30px;
	position:absolute;
	cursor:pointer;
}

.box_header {
	text-align:center;
}

#task_select {
	background-color:white;
}
#x_box {
	background-color:#5A4A3A;
	color:white;
}
#y_box {
	background-color:#5A4A3A;
	color:white;
}
#add_filter {
	text-align:center;
	visibility:hidden;
	flex:1 0.5 10%;
}
.page_divider {
	cursor: pointer;
	text-align:center;
	background-color:#EA7B30;
	color:#5A4A3A;
}

/* plotter canvas */
#display_canvas {
	position:relative;
	left:0px;
}
.options_container {
	display:flex;
}
.divider_options {
	flex:1;
	line-height:2em;	
}

#plotter_container {
	display:flex;
	flex-wrap:wrap;
}
#customizePlot {
	flex:1 0 100%;
	line-height:2em;
	visibility: hidden
}
.custom_pannel {
    display: flex;
    flex:1;
	padding:0 50px;
}
.task_title {
    margin-left: 50;
}
.h_grey {
    color: #999;
}
.h_dark {
    color: #000;
}
.custom_plot_selection_box {
	overflow:hidden;
	flex:1 0;
}
#gmean_select {
    float: left;
    height: 110px;
}
#overlay_select {
    float: left;
    height: 110px;
}
.custom_plot_form {
    height: 85;
}
fieldset {
    height: 60;
    overflow-x: auto;
    overflow-y: auto;
}

#get_cus_plot_button {
    flex:0.5;
}
#get_customer_plot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 9;
    width: 100%;
    height: 70;
    float: left;
}

.canvas_container {
    width: 530;
    height: 500;
    float: left;
}
.chart_container {
    width: 670;
    height: 500;
    float:left;
}
.legend_container {
    width: 130;
    height: 500;
    float: left;
    overflow-x: auto;
    overflow-y: auto;
}
svg {
  font: 10px sans-serif;
  overflow-x: auto;
  overflow-y: auto;
}
rect {
  fill: #f0f0f0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
}
.line {
    fill: none;
    stroke-width: 1.5px;
}
.customizePlotContainer {}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.filter_param option, .filter_sel option {
		background-color: #3B3738;
	}
}
