body {
	margin:0;
	font-family:verdana;
}
html {
	overflow-y:scroll;
}
select {
	color:white;
    margin-top: 10%;
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 0px solid #ccc;
    height: 10%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus {
    outline: 0;
}
.box_wrapper {
	height:350px;
	overflow:hidden;
	width:20%;
	display:inline-block;
	margin-right:-18px;
	font-size:16px;
	position:relative;
}
.filter_wrapper {
}
.selection_box {
	height:100%;
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	padding-right: 20px;
}

.task {
	display:block;
	text-decoration: none;
	text-align:center;
	line-height:1.5em;
	cursor:pointer;
	font-family:verdana;
}
.sel_task {
	font-weight:bold;
	color:white;
	background-color:#5A4A3A;
}


.param {
	padding-left:10px;
	display:block;
	line-height:1.5em;
	cursor:pointer;
}
.sel_param {
	font-weight:bold;
	background-color:#3B3738;
}


.filter {
	background-color:#3B3738;
}
.filter_val {
	padding-right:8px;
}
.filter_val input[type="text"] {
  padding: 10px;
  background-color:transparent;
  border-width:0px;
  color:white;
}


.in {
	height:179px;
}
.close {
	font-weight:bold;
	color:white;
	top:10px;
	right:30px;
	position:absolute;
	cursor:pointer;
}

.box_header {
	text-align:center;
}
#selection_bar {
	width:100%;
	overflow-y:hidden;
	overflow-x:auto;
	font-size:0;
	background-color:#3B3738;
}
#task_select {
	background-color:white;
}
#x_box {
	background-color:#5A4A3A;
	color:white;
}
#y_box {
	background-color:#5A4A3A;
	color:white;
}
#add_filter {
	cursor: pointer;
	background-color: #EA7B30;
	text-align:center;
	width:100px;
	visibility:hidden;
}
#display_canvas {
	left:0px;
}
.custom_pannel {
    display: flex;
}
.task_title {
    margin-left: 50;
}
.h_grey {
    color: #999;
}
.h_dark {
    color: #000;
}
.custom_plot_selection_box {
    margin-left: auto;
    margin-right: auto;
	overflow:hidden;
	width:40%;
	position:relative;
}
#gmean_select {
    float: left;
    height: 110px;
}
#overlay_select {
    float: left;
    height: 110px;
}
.custom_plot_form {
    height: 85;
}
fieldset {
    height: 60;
    overflow-x: auto;
    overflow-y: auto;
}
#generate_plot {
	width:70%;
	text-align: center
}
#get_cus_plot_button {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 110px;
    float: left;
}
#get_customer_plot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 9;
    width: 100%;
    height: 70;
    float: left;
}
#generate_plot {
    width: 300;
    height: 50;
    position: relative;
    left: 50%;
}
.attractive_button {
	background-color:#444;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#999;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.attractive_button:hover {
	background-color:#e9e9e9;
}
.attractive_button:active {
	position:relative;
	top:1px;
}
svg {
  font: 10px sans-serif;
}

rect {
  fill: #f0f0f0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
}
.line {
    fill: none;
    stroke-width: 1.5px;
}
.customizePlotContainer {
    
}
#customizePlot {
    width: 150;
    height: 50;
    font-size: 16;
    position: relative;
    left: 50%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.filter_param option, .filter_sel option {
		background-color: #3B3738;
	}
}
