#Common metrics for VPR packing and placement


#Pre-Packing Metrics
num_primary_inputs;Range(0.95,1.05)
num_primary_outputs;Range(0.95,1.05)
num_pre_packed_nets;Range(0.95,1.05)
num_pre_packed_blocks;Range(0.95,1.05)

#Packing Metrics
num_post_packed_nets;Range(0.80,1.20)
num_post_packed_blocks;Range(0.80,1.20)

#Device sizing
device_width;Range(0.9,1.10)
device_height;Range(0.9,1.10)
device_grid_tiles;Range(0.9,1.10)
device_limiting_resources;Equal()
device_name;Equal()

#Run-time
pack_time;RangeAbs(0.10,10.0,2)
place_time;RangeAbs(0.10,10.0,2)
