#Python requirements file for building documentation
# used by Read The Docs to install python required 
# modules with pip.

# Support Markdown
recommonmark

#Handle references in bibtex format
sphinxcontrib-bibtex
