sphinx
https://github.com/SymbiFlow/sphinx_symbiflow_theme/archive/master.zip#sphinx-symbiflow-theme
sphinxcontrib-domaintools
sphinx-markdown-tables
myst_parser
https://github.com/SymbiFlow/sphinxcontrib-markdown-symlinks/archive/master.zip#sphinxcontrib-markdown-symlinks
sphinxcontrib-bibtex
sphinx-notfound-page
breathe
