[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/mips32r1_core"]
	path = third_party/mips32r1_core
	url = https://github.com/grantae/mips32r1_core.git
