#VPR metrix at relaxed (relative to minimum) channel width with timing
%include "../common/pass_requirements.vpr_route_relaxed_chan_width.txt"

#Routing Metrics
crit_path_routed_wirelength;Range(0.60,1.50)

#Area Metrics
crit_path_routing_area_total;Range(0.8,1.3)
crit_path_routing_area_per_tile;Range(0.8,1.3)

#Run-time Metrics
crit_path_route_time;RangeAbs(0.10,10.0,2)
#Timing Metrics
critical_path_delay;Range(0.80,1.40)
setup_TNS;Range(0.80,1.40)
setup_WNS;Range(0.80,1.40)
#hold_TNS;Range(0.05,20.00)
#hold_WNS;Range(0.05,20.00)
