vpr_status;Equal
crit_path_route_success_iteration;Equal
routed_wirelength;Equal
setup_TNS;Equal
setup_WNS;Equal
critical_path_delay;Equal
num_pre_packed_nets;Equal
num_pre_packed_blocks;Equal
num_post_packed_nets;Equal
num_clb;Equal
num_io;Equal
num_outputs;Equal
num_memories;Equal
num_mult;Equal
error;Equal
