vpr_status;String
crit_path_route_success_iteration;String
routed_wirelength;String
setup_TNS;String
setup_WNS;String
critical_path_delay;String
num_pre_packed_nets;String
num_pre_packed_blocks;String
num_post_packed_nets;String
num_clb;String
num_io;String
num_outputs;String
num_memories;String
num_mult;String
error;String
