vpr_status;Equal
critical_path_delay;Range;0.80;1.40
pack_time;RangeAbs;0.10;10.0;2
place_time;RangeAbs;0.10;10.0;2
crit_path_route_time;RangeAbs;0.10;10.0;2
num_pre_packed_nets;Range;0.9;1.10
num_pre_packed_blocks;Range;0.9;1.10
num_post_packed_nets;Range;0.80;1.20
num_clb;Range;0.9;1.10
num_io;Range;0.9;1.10
num_outputs;Range;0.95;1.05
num_memories;Range;0.9;1.10
num_mult;Range;0.9;1.10
device_width;Range;0.9;1.10
device_height;Range;0.9;1.10
setup_TNS;Range;0.80;1.40
setup_WNS;Range;0.80;1.40
#hold_TNS;Range;0.05;20.00
#hold_WNS;Range;0.05;20.00
placed_CPD_est;Range;0.80;1.40
placed_setup_TNS_est;Range;0.80;1.40
placed_setup_WNS_est;Range;0.80;1.40
error;Equal

