%include "common/pass_requirements.vpr_status.txt"
%include "timing/pass_requirements.vpr_pack_place.txt"
%include "timing/pass_requirements.vpr_route_min_chan_width.txt"
%include "timing/pass_requirements.vpr_route_relaxed_chan_width.txt"

%include "common/pass_requirements.vtr_benchmarks.txt"

#Power related
total_power;Range(0.9,1.1)
routing_power_perc;Range(0.9,1.1)
clock_power_perc;Range(0.9,1.1)
tile_power_perc;Range(0.9,1.1)
