name: NightlyTestManual

# This workflow can only be dispatched.
on:
  workflow_dispatch:

  # Automatically runs every Sunday 5 AM UTC.
  # Results should be ready ~15 hours later (Sunday 8 PM UTC), on time for Monday mornings.
  schedule:
    - cron:  '0 5 * * 0'

# We want to cancel previous runs for a given PR or branch / ref if another CI
# run is requested.
# See: https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  # default compiler for all non-compatibility tests
  MATRIX_EVAL: "CC=gcc-13 && CXX=g++-13"

jobs:
  Run-tests:
    # Prevents from running on forks where no custom runners are available
    if: ${{ github.repository_owner == 'verilog-to-routing' }}

    name: 'Nightly Tests Manual Run'
    # This workflow is expected to take around 19 hours. Giving it 24 hours
    # before timing out.
    timeout-minutes: 1440
    runs-on: [self-hosted, Linux, X64, SAVI]

    steps:
    # Clean previous runs of this workflow.
    - name: 'Cleanup build folder'
      run: |
        rm -rf ./* || true
        rm -rf ./.??* || true

    # Checkout the VTR repo.
    - uses: actions/checkout@v6
      with:
        submodules: 'true'

    # Get the extra benchmarks
    - name: 'Get Extra Benchmarks'
      run: |
        make get_titan_benchmarks
        make get_ispd_benchmarks
        ./dev/upgrade_vtr_archs.sh
        make get_symbiflow_benchmarks
        make get_zeroasic_rr_graphs
        make get_flat_placements

    # Build VTR using the default build options.
    - name: 'Build VTR'
      run: |
        make -j12
        make env
        source .venv/bin/activate
        pip install -r requirements.txt

    # Run all of the nightly tests.
    # TODO: We could expose more parallelism if we had one task list which ran
    #       all of these.
    - name: 'Run Nightly Test 1'
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py -j12 vtr_reg_nightly_test1

    - name: 'Run Nightly Test 2'
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py -j12 vtr_reg_nightly_test2

    - name: 'Run Nightly Test 3'
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py -j12 vtr_reg_nightly_test3


    - name: 'Run Nightly Test 4'
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py -j12 vtr_reg_nightly_test4

    - name: 'Run Nightly Test 5'
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py -j12 vtr_reg_nightly_test5

    - name: 'Run Nightly Test 6'
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py -j12 vtr_reg_nightly_test6

    - name: 'Run Nightly Test 7'
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py -j12 vtr_reg_nightly_test7

    - name: Upload regression results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: nightly_test_results
        path: |
          vtr_flow/**/*.log
          vtr_flow/**/vpr.out
          vtr_flow/**/parse_results*.txt

    - name: Generate golden results
      if: success() || failure()
      run: |
        source .venv/bin/activate
        ./run_reg_test.py vtr_reg_nightly_test1 -create_golden
        ./run_reg_test.py vtr_reg_nightly_test2 -create_golden
        ./run_reg_test.py vtr_reg_nightly_test3 -create_golden
        ./run_reg_test.py vtr_reg_nightly_test4 -create_golden
        ./run_reg_test.py vtr_reg_nightly_test5 -create_golden
        ./run_reg_test.py vtr_reg_nightly_test6 -create_golden
        ./run_reg_test.py vtr_reg_nightly_test7 -create_golden

    - name: Upload golden results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: nightly_tests_golden
        path: |
          vtr_flow/**/vtr_reg_nightly*/**/golden_results.txt

  Coverity:
    name: 'Coverity Scan'
    runs-on: ubuntu-24.04
    steps:

    - uses: actions/setup-python@v5
      with:
        python-version: 3.12.3

    - uses: actions/checkout@v6
      with:
        submodules: 'true'

    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v2
      id: cpu-cores

    - name: Install dependencies
      run: ./install_apt_packages.sh

    - uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}

    - name: Test
      env:
        CMAKE_PARAMS: '-DVTR_ASSERT_LEVEL=3 -DWITH_BLIFEXPLORER=on'
        NUM_PROC: ${{ steps.cpu-cores.outputs.count }}
        _COVERITY_URL: 'https://scan.coverity.com/download/linux64'
        _COVERITY_MD5: 'd0d7d7df9d6609e578f85096a755fb8f'
      run: |
        export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
        ./.github/scripts/build.sh

